@tailwind base;
@tailwind components;
@tailwind utilities;

.barlow-semi-condensed-regular {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  font-style: normal;
}
